{% extends "base.html" %}

{% block title %}Create Event{% endblock %}

{% block body %}
		<h2>CREATE EVENT</h2>
    {% if err %}
      <ul class="upcoming-user">
        {% for error in err %}
          <li style="color: red;""> {{error}}
        {% endfor %}
      </ul>
    {% endif %}
		<form action="" method="post">
			Title:<br>
      <input type="text" name="title" />
			<br />
			<br />
			Description:<br>
      <input type="text" name="desc" />
			<br />
			<br />
      Start Time:<br>
      <input type="datetime-local" name="start" />
			<br />
			<br />
      End Time:<br>
      <input type="datetime-local" name="end" />
			<br />
			<br />
			<input type="submit" value="submit" />
		</form>
		<br>
{% endblock %}
