{% extends "base.html" %}

{% block title %}Organization Login{% endblock %}

{% block body %}
<h2>ORGANIZATION LOGIN</h2>
  {% if failure %}
    <h2 style="color:red;">Incorrect Username or Password!</h2>
  {% endif %}
  <form action="" method="post">
    Username:  <input type="text" name="user" />
    <br />
    <br />
    Password:  <input type="text" name="pass" />
    <br />
    <br />
    <input type="submit" value="submit" />
  </form>
  <br>
  <p>To Register an Orgnaization, <a href="{{ url_for('register_organization') }}">Click Here</a></p>
{% endblock %}
